.app {
    display: flex;
    flex-direction: column;
    align-items: center;
}



/* <nav> */
nav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

nav a {
    text-align: center;
    text-decoration: none;
    color: rgb(0, 0, 0);
    width: 50vw;

    font-weight: 600;
    font-size: 7vw;
    line-height: 11vw;
}

nav a.active {
    border-bottom: 1.2vw solid rgba(0, 0, 0, 0.4);
}



/* <main> */
main {
    display: flex;
    justify-content: center;

    width: 100vw;

    padding-top: 10vw;
}