.app {
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

nav a {
    text-align: center;
    text-decoration: none;
    color: rgb(0, 0, 0);
    width: 50vw;

    font-weight: 600;
    font-size: 7vw;
    line-height: 11vw;
}

.active {
    border-bottom: 1.2vw solid rgba(0, 0, 0, 0.4);
}