.stopwatch {
    display: flex;
    flex-direction: column;
    align-items: center;
}



/* CLOCK */
.clock {
    font-size: 13vw;
    font-weight: bold;

    margin-bottom: 5vw;
}

.millisec {
    font-size: 7vw;
}



/* BUTTONS */
.buttons>button {
    width: 13vw;
    height: 13vw;

    background-color: inherit;

    font-family: inherit;
    font-size: 3.5vw;
    font-weight: bold;

    border-width: 0.8vw;
    border-radius: 13vw;

    margin: 0 1vw;
}

.button-start {
    border: solid #8eb900;
    color: #8eb900;
}

.button-start:hover,
.button-start:active {
    background-color: #8eb900;
    color: white;
}

.button-stop {
    border: solid #b90000;
    color: #b90000;
}

.button-stop:hover,
.button-stop:active {
    background-color: #b90000;
    color: white;
}